MONGO_URI=mongodb+srv://hiresmartadmin:87048704@hiresmartcluster.klvtcut.mongodb.net/hiresmart?retryWrites=true&w=majority&appName=HireSmartCluster
REDIS_URL=redis://localhost:6379
CLOUDINARY_URL=cloudinary://<cloud_name>:<api_key>:<api_secret>
JWT_SECRET=HireSmartSecret123
EMAIL_SERVICE=<your_email_service>
EMAIL_USERNAME=<your_email_username>
EMAIL_PASSWORD=<your_email_password>
NODE_ENV=development
PORT=5000
BULLMQ_REDIS_URL=redis://localhost:6379
AI_API_KEY=<your_ai_api_key>
S3_BUCKET_NAME=<your_s3_bucket_name>
S3_ACCESS_KEY_ID=<your_s3_access_key_id>
S3_SECRET_ACCESS_KEY=<your_s3_secret_access_key>